@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin'), local('Roboto-Thin'), url('robotothin803c4.woff2') format('woff2'), url('robotothin6b56f.woff') format('woff'), url('robotothinbbb4d.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Thin Italic'), local('Roboto-ThinItalic'), url('robotothinitalicf8962.woff2') format('woff2'), url('robotothinitalicb6767.woff') format('woff'), url('robotothinitalicf89e5.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light'), local('Roboto-Light'), url('robotolightd4954.woff2') format('woff2'), url('robotolight2ee13.woff') format('woff'), url('robotolight922a0.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url('robotolightitalicf3bb6.woff2') format('woff2'), url('robotolightitalic102c3.woff') format('woff'), url('robotolightitalice1c07.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto'), local('Roboto-Regular'), url('roboto11b7d.woff2') format('woff2'), url('roboto0b8ad.woff') format('woff'), url('roboto382ab.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Italic'), local('Roboto-Italic'), url('robotoitalic1dda1.woff2') format('woff2'), url('robotoitalicebcce.woff') format('woff'), url('robotoitalicb18a2.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium'), local('Roboto-Medium'), url('robotomedium5a722.woff2') format('woff2'), url('robotomedium7e8a3.woff') format('woff'), url('robotomediumf7bc2.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Medium Italic'), local('Roboto-MediumItalic'), url('robotomediumitalic09677.woff2') format('woff2'), url('robotomediumitalicef152.woff') format('woff'), url('robotomediumitalicb5cca.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold'), local('Roboto-Bold'), url('robotobold68930.woff2') format('woff2'), url('robotoboldf8926.woff') format('woff'), url('robotobold9589e.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url('robotobolditalic065b0.woff2') format('woff2'), url('robotobolditalicf5906.woff') format('woff'), url('robotobolditalica2f4a.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black'), local('Roboto-Black'), url('robotoblackf54f0.woff2') format('woff2'), url('robotoblack1d8b6.woff') format('woff'), url('robotoblack24651.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: local('Roboto Black Italic'), local('Roboto-BlackItalic'), url('robotoblackitalic83376.woff2') format('woff2'), url('robotoblackitalicc0c4f.woff') format('woff'), url('robotoblackitalic6fa1f.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
